# Import Libraries

In [43]:
import pandas as pd

# Code

## Population

In [44]:
population = pd.read_csv(r"C:\Users\Harsh mishra\Desktop\solarFarm\data\population\Population of India.csv")

population.head()

,Sl No,State/UT,Population[50],Percent (%),Male,Female,Difference between male and female,Sex ratio,Rural[51],Urban[51],Area[52] (km2),Density (per km2)
0,1,Uttar Pradesh,199812341,16.50,104480510,95331831,9148679,930,155111022,44470455,240928,828
1,2,Maharashtra,112374333,9.28,58243056,54131277,4111779,929,61545441,50827531,307713,365
2,3,Bihar,104099452,8.60,54278157,49821295,4456862,918,92075028,11729609,94163,1102
3,4,West Bengal,91276115,7.54,46809027,44467088,2341939,950,62213676,29134060,88752,1030
4,5,Madhya Pradesh,72626809,6.00,37612306,35014503,2597803,931,52537899,20059666,308245,236

In [45]:
population.rename(columns = {'State/UT' : 'State'}, inplace = True)
population.rename(columns = {'Population[50]' : 'Population'}, inplace = True)
population.rename(columns = {'Rural[51]' : 'Rural'}, inplace = True)
population.rename(columns = {'Urban[51]' : 'Urban'}, inplace = True)
population.rename(columns = {'Area[52] (km2)' : 'Area'}, inplace = True)

print("Before dropping")
print(population.columns)

population.drop(population.columns[[3, 4, 5, 6, 7]], axis = 1, inplace = True)

print("After dropping")
print(population.columns)

Before dropping
Index(['Sl No', 'State', 'Population', 'Percent (%)', 'Male', 'Female',
       'Difference between male and female', 'Sex ratio', 'Rural', 'Urban',
       'Area', 'Density (per km2)'],
      dtype='object')
After dropping
Index(['Sl No', 'State', 'Population', 'Rural', 'Urban', 'Area',
       'Density (per km2)'],
      dtype='object')

## Solar

In [46]:
solar = pd.read_csv(r"C:\Users\Harsh mishra\Desktop\solarFarm\data\solar_farms_india_2021.csv")

solar.head()

              State  Total Solar Area (km2)  Total Solar Farm Count
0    Andhra Pradesh                      59                      69
1      Chhattisgarh                       4                       8
2           Gujarat                      35                      73
3           Haryana                       3                      22
4  Himachal Pradesh                       1                       6

Common column

In [47]:
import numpy as np

common = np.intersect1d(solar.columns, population.columns)

print(common)

['State']

In [48]:
merged_df_outer = pd.merge(population, solar, on='State', how='outer')

print(merged_df_outer)

   Sl No                             State  Population      Rural      Urban  \
0      1                     Uttar Pradesh   199812341  155111022   44470455
1      2                       Maharashtra   112374333   61545441   50827531
2      3                             Bihar   104099452   92075028   11729609
3      4                       West Bengal    91276115   62213676   29134060
4      5                    Madhya Pradesh    72626809   52537899   20059666
5      6                        Tamil Nadu    72147030   37189229   34949729
6      7                         Rajasthan    68548437   51540236   17080776
7      8                         Karnataka    61095297   37552529   23578175
8      9                           Gujarat    60439692   34670817   25712811
9     10                    Andhra Pradesh    49386799   34776389   14610410
10    11                            Odisha    41974218   34951234    6996124
11    12                         Telangana    35193978   21585313   13608665
12    13                            Kerala    33406061   17445506   15932171
13    14                         Jharkhand    32988134   25036946    7929292
14    15                             Assam    31205576   26780526    4388756
15    16                            Punjab    27743338   17316800   10387436
16    17                      Chhattisgarh    25545198   19603658    5936538
17    18                           Haryana    25351462   16531493    8821588
18    19                        Delhi (UT)    16787941     944727   12905780
19    20                 Jammu and Kashmir    12541302    9134820    3414106
20    21                       Uttarakhand    10086292    7025583    3091169
21    22                  Himachal Pradesh     6864602    6167805     688704
22    23                           Tripura     3673917    2710051     960981
23    24                         Meghalaya     2966889    2368971     595036
24    25                           Manipur     2855794    1899624     822132
25    26                          Nagaland     1978502    1406861     573741
26    27                               Goa     1458545     551414     906309
27    28                 Arunachal Pradesh     1383727    1069165     313446
28    29                   Puducherry (UT)     1247953     394341     850123
29    30                           Mizoram     1097206     529037     561997
30    31                   Chandigarh (UT)     1055450      29004    1025682
31    32                            Sikkim      610577     455962     151726
32    33  Andaman and Nicobar Islands (UT)      380581     244411     135533
33    34       Dadra and Nagar Haveli (UT)      343709     183024     159829
34    35                Daman and Diu (UT)      243247      60331     182580
35    36                  Lakshadweep (UT)       64473      14121      50308
36     –                     Total (India)  1210854977  833087662  377105760

       Area  Density (per km2)  Total Solar Area (km2)  Total Solar Farm Count
0    240928                828                     6.0                    21.0
1    307713                365                    51.0                   105.0
2     94163               1102                     NaN                     NaN
3     88752               1030                     4.0                    14.0
4    308245                236                    54.0                    59.0
5    130058                555                   289.0                   156.0
6    342239                201                   145.0                    88.0
7    191791                319                   295.0                   343.0
8    196024                308                    35.0                    73.0
9    160205                308                    59.0                    69.0
10   155707                269                     9.0                    27.0
11   114840                307                   192.0                   250.0
12    38863                859                     4.0                    12.0
13    79714                414                     2.0                     6.0
14    78438                397                     NaN                     NaN
15    50362                550                     8.0                    47.0
16   135191                189                     4.0                     8.0
17    44212                573                     3.0                    22.0
18     1484              11297                     NaN                     NaN
19   222236                 56                     NaN                     NaN
20    53483                189                    27.0                    56.0
21    55673                123                     1.0                     6.0
22    10486                350                     0.0                     1.0
23    22429                132                     NaN                     NaN
24    22327                128                     NaN                     NaN
25    16579                119                     NaN                     NaN
26     3702                394                     NaN                     NaN
27    83743                 17                     NaN                     NaN
28      479               2598                     NaN                     NaN
29    21081                 52                     NaN                     NaN
30      114               9252                     NaN                     NaN
31     7096                 86                     NaN                     NaN
32     8249                 46                     NaN                     NaN
33      491                698                     NaN                     NaN
34      112               2169                     NaN                     NaN
35       32               2013                     NaN                     NaN
36  3287240                382                     NaN                     NaN

In [49]:
null_count = merged_df_outer.isnull().sum().sum()
print('Number of null values:', null_count)

merged_df_outer["Total Solar Farm Count"].fillna(0, inplace = True) 
merged_df_outer["Total Solar Area (km2)"].fillna(0, inplace = True) 
print('Number of null values:', null_count)

Number of null values: 36
Number of null values: 36

In [50]:
print(merged_df_outer)

   Sl No                             State  Population      Rural      Urban  \
0      1                     Uttar Pradesh   199812341  155111022   44470455
1      2                       Maharashtra   112374333   61545441   50827531
2      3                             Bihar   104099452   92075028   11729609
3      4                       West Bengal    91276115   62213676   29134060
4      5                    Madhya Pradesh    72626809   52537899   20059666
5      6                        Tamil Nadu    72147030   37189229   34949729
6      7                         Rajasthan    68548437   51540236   17080776
7      8                         Karnataka    61095297   37552529   23578175
8      9                           Gujarat    60439692   34670817   25712811
9     10                    Andhra Pradesh    49386799   34776389   14610410
10    11                            Odisha    41974218   34951234    6996124
11    12                         Telangana    35193978   21585313   13608665
12    13                            Kerala    33406061   17445506   15932171
13    14                         Jharkhand    32988134   25036946    7929292
14    15                             Assam    31205576   26780526    4388756
15    16                            Punjab    27743338   17316800   10387436
16    17                      Chhattisgarh    25545198   19603658    5936538
17    18                           Haryana    25351462   16531493    8821588
18    19                        Delhi (UT)    16787941     944727   12905780
19    20                 Jammu and Kashmir    12541302    9134820    3414106
20    21                       Uttarakhand    10086292    7025583    3091169
21    22                  Himachal Pradesh     6864602    6167805     688704
22    23                           Tripura     3673917    2710051     960981
23    24                         Meghalaya     2966889    2368971     595036
24    25                           Manipur     2855794    1899624     822132
25    26                          Nagaland     1978502    1406861     573741
26    27                               Goa     1458545     551414     906309
27    28                 Arunachal Pradesh     1383727    1069165     313446
28    29                   Puducherry (UT)     1247953     394341     850123
29    30                           Mizoram     1097206     529037     561997
30    31                   Chandigarh (UT)     1055450      29004    1025682
31    32                            Sikkim      610577     455962     151726
32    33  Andaman and Nicobar Islands (UT)      380581     244411     135533
33    34       Dadra and Nagar Haveli (UT)      343709     183024     159829
34    35                Daman and Diu (UT)      243247      60331     182580
35    36                  Lakshadweep (UT)       64473      14121      50308
36     –                     Total (India)  1210854977  833087662  377105760

       Area  Density (per km2)  Total Solar Area (km2)  Total Solar Farm Count
0    240928                828                     6.0                    21.0
1    307713                365                    51.0                   105.0
2     94163               1102                     0.0                     0.0
3     88752               1030                     4.0                    14.0
4    308245                236                    54.0                    59.0
5    130058                555                   289.0                   156.0
6    342239                201                   145.0                    88.0
7    191791                319                   295.0                   343.0
8    196024                308                    35.0                    73.0
9    160205                308                    59.0                    69.0
10   155707                269                     9.0                    27.0
11   114840                307                   192.0                   250.0
12    38863                859                     4.0                    12.0
13    79714                414                     2.0                     6.0
14    78438                397                     0.0                     0.0
15    50362                550                     8.0                    47.0
16   135191                189                     4.0                     8.0
17    44212                573                     3.0                    22.0
18     1484              11297                     0.0                     0.0
19   222236                 56                     0.0                     0.0
20    53483                189                    27.0                    56.0
21    55673                123                     1.0                     6.0
22    10486                350                     0.0                     1.0
23    22429                132                     0.0                     0.0
24    22327                128                     0.0                     0.0
25    16579                119                     0.0                     0.0
26     3702                394                     0.0                     0.0
27    83743                 17                     0.0                     0.0
28      479               2598                     0.0                     0.0
29    21081                 52                     0.0                     0.0
30      114               9252                     0.0                     0.0
31     7096                 86                     0.0                     0.0
32     8249                 46                     0.0                     0.0
33      491                698                     0.0                     0.0
34      112               2169                     0.0                     0.0
35       32               2013                     0.0                     0.0
36  3287240                382                     0.0                     0.0

In [51]:
print(merged_df_outer.columns)

Index(['Sl No', 'State', 'Population', 'Rural', 'Urban', 'Area',
       'Density (per km2)', 'Total Solar Area (km2)',
       'Total Solar Farm Count'],
      dtype='object')

In [53]:


merged_df_outer['Percentage'] = merged_df_outer['Total Solar Farm Count'] / merged_df_outer['Population']

print(merged_df_outer)

   Sl No                             State  Population      Rural      Urban  \
0      1                     Uttar Pradesh   199812341  155111022   44470455
1      2                       Maharashtra   112374333   61545441   50827531
2      3                             Bihar   104099452   92075028   11729609
3      4                       West Bengal    91276115   62213676   29134060
4      5                    Madhya Pradesh    72626809   52537899   20059666
5      6                        Tamil Nadu    72147030   37189229   34949729
6      7                         Rajasthan    68548437   51540236   17080776
7      8                         Karnataka    61095297   37552529   23578175
8      9                           Gujarat    60439692   34670817   25712811
9     10                    Andhra Pradesh    49386799   34776389   14610410
10    11                            Odisha    41974218   34951234    6996124
11    12                         Telangana    35193978   21585313   13608665
12    13                            Kerala    33406061   17445506   15932171
13    14                         Jharkhand    32988134   25036946    7929292
14    15                             Assam    31205576   26780526    4388756
15    16                            Punjab    27743338   17316800   10387436
16    17                      Chhattisgarh    25545198   19603658    5936538
17    18                           Haryana    25351462   16531493    8821588
18    19                        Delhi (UT)    16787941     944727   12905780
19    20                 Jammu and Kashmir    12541302    9134820    3414106
20    21                       Uttarakhand    10086292    7025583    3091169
21    22                  Himachal Pradesh     6864602    6167805     688704
22    23                           Tripura     3673917    2710051     960981
23    24                         Meghalaya     2966889    2368971     595036
24    25                           Manipur     2855794    1899624     822132
25    26                          Nagaland     1978502    1406861     573741
26    27                               Goa     1458545     551414     906309
27    28                 Arunachal Pradesh     1383727    1069165     313446
28    29                   Puducherry (UT)     1247953     394341     850123
29    30                           Mizoram     1097206     529037     561997
30    31                   Chandigarh (UT)     1055450      29004    1025682
31    32                            Sikkim      610577     455962     151726
32    33  Andaman and Nicobar Islands (UT)      380581     244411     135533
33    34       Dadra and Nagar Haveli (UT)      343709     183024     159829
34    35                Daman and Diu (UT)      243247      60331     182580
35    36                  Lakshadweep (UT)       64473      14121      50308
36     –                     Total (India)  1210854977  833087662  377105760

       Area  Density (per km2)  Total Solar Area (km2)  \
0    240928                828                     6.0
1    307713                365                    51.0
2     94163               1102                     0.0
3     88752               1030                     4.0
4    308245                236                    54.0
5    130058                555                   289.0
6    342239                201                   145.0
7    191791                319                   295.0
8    196024                308                    35.0
9    160205                308                    59.0
10   155707                269                     9.0
11   114840                307                   192.0
12    38863                859                     4.0
13    79714                414                     2.0
14    78438                397                     0.0
15    50362                550                     8.0
16   135191                189                     4.0
17    44212                573                     3.0
18     1484              11297                     0.0
19   222236                 56                     0.0
20    53483                189                    27.0
21    55673                123                     1.0
22    10486                350                     0.0
23    22429                132                     0.0
24    22327                128                     0.0
25    16579                119                     0.0
26     3702                394                     0.0
27    83743                 17                     0.0
28      479               2598                     0.0
29    21081                 52                     0.0
30      114               9252                     0.0
31     7096                 86                     0.0
32     8249                 46                     0.0
33      491                698                     0.0
34      112               2169                     0.0
35       32               2013                     0.0
36  3287240                382                     0.0

    Total Solar Farm Count    Percentage
0                     21.0  1.050986e-07
1                    105.0  9.343771e-07
2                      0.0  0.000000e+00
3                     14.0  1.533808e-07
4                     59.0  8.123722e-07
5                    156.0  2.162251e-06
6                     88.0  1.283764e-06
7                    343.0  5.614180e-06
8                     73.0  1.207816e-06
9                     69.0  1.397134e-06
10                    27.0  6.432520e-07
11                   250.0  7.103488e-06
12                    12.0  3.592163e-07
13                     6.0  1.818836e-07
14                     0.0  0.000000e+00
15                    47.0  1.694100e-06
16                     8.0  3.131704e-07
17                    22.0  8.678001e-07
18                     0.0  0.000000e+00
19                     0.0  0.000000e+00
20                    56.0  5.552090e-06
21                     6.0  8.740492e-07
22                     1.0  2.721891e-07
23                     0.0  0.000000e+00
24                     0.0  0.000000e+00
25                     0.0  0.000000e+00
26                     0.0  0.000000e+00
27                     0.0  0.000000e+00
28                     0.0  0.000000e+00
29                     0.0  0.000000e+00
30                     0.0  0.000000e+00
31                     0.0  0.000000e+00
32                     0.0  0.000000e+00
33                     0.0  0.000000e+00
34                     0.0  0.000000e+00
35                     0.0  0.000000e+00
36                     0.0  0.000000e+00

In [54]:
merged_df_outer.to_csv(r"C:\Users\Harsh mishra\Desktop\solarFarm\data\solar+population.csv", index = False)